body {
  font-family: 'Montserrat', sans-serif;
  color: #656565;
  font-size: 20px;
  line-height: 1.48;
  margin: 0;
  padding: 0;
}
*{
  box-sizing: border-box;
}
#header{
  position:fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 20px 0;
}
.text-center {
  text-align: center;
}

.logo img {
  height: 40px;
}

#section0 {
  background: url(/assets/img/bgd.jpg) top center no-repeat;
  background-size: cover;
}

.title {
  font-size: 80px;
  color: #000;
  text-align: center;
}
.title img {
  display: inline-block; 
  vertical-align: middle;
}
.title1 {
  font-size: 40px;
  color: #000;
  text-align: center;
  font-weight: 700;
}




.list-news {
  list-style: none;
  padding: 0;
  margin: 50px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}
.list-news li {
  width: 50%;
  padding: 10px 0;
}
.list-news li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #525252;
  padding-left: 30px;
  position: relative;
  display: block;
}
.list-news li a:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background:#525252;
  position: absolute;
  left: 0;
  top: 9px;
}

.block-benefit {
  margin-top: 50px;
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}
.outer-benefit {
  padding-left: 10px;
  padding-right: 10px;
}
.art-benefit {
  padding: 30px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 2.7861px 10.4479px rgba(0, 0, 0, 0.1);
  border-radius: 13.931px 13.931px 13.9305px 13.9305px;
}

.art-benefit  .icon-check {
  background: url(/assets/img/icon-check.png)  center no-repeat;
  background-size: contain;
  width: 54px;
  height: 54px;
  display: inline-block;
}
.art-benefit  .title-nenefit {
  margin: 15px 0;
  color: #525252;
  font-size: 15px;
  font-weight: 600;
}
.art-benefit p {
  font-size: 12px;
  margin-bottom: 25px;
}
.btn-style {
  background: linear-gradient(270deg, #F7B733 0.02%, #FC4A1A 100%);
  color: #fff;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  display: inline-block;
}

.block-product {
  margin-top: 50px;
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
  flex-wrap: wrap;
  justify-content: center;
}
.block-product .outer-product {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  width: 33.3333%;
}
.art-product {
  text-align: center;
 
}
.art-product .thumb {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.art-product a {
  text-decoration: none;
  display: block;
  position: relative;
}
.art-product .thumb img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}
.art-product .m-title {
  height: 50px;
  text-align: center;
  background: linear-gradient(270deg, #F7B733 0%, #FC4A1A 100%);
  box-shadow: 0px 1.58166px 5.93124px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 8px 8px;
  display: block;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
 
}
.pt-4 {
  margin-top: 40px;
}
.scrollable-element {
  height: calc( 100vh - 200px);
  overflow-y: scroll;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.timeline > li:after, .timeline > li:before {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 30px;
  text-align: left;
  background: #FFFFFF;
  box-shadow: 0px 2.46669px 9.2501px rgba(0, 0, 0, 0.1);
  border-radius: 12.3339px 12.3339px 12.3335px 12.3335px;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  margin-left: -25px;
  top: 50px;
  line-height: 50px;
  position: absolute;
  z-index: 100;
  left: 0;
  width: 50px;
  height: 50px;
  /* margin-left: 0; */
  text-align: center;
  color: white;
  /* border: 7px solid #e9ecef; */
  border-radius: 100%;
  background-color: #F8A830;
}
.timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 30px;
  text-align: left;
  background: #FFFFFF;
  box-shadow: 0px 2.46669px 9.2501px rgba(0, 0, 0, 0.1);
  border-radius: 12.3339px 12.3339px 12.3335px 12.3335px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
  text-transform: none;
  color: #000;
  font-size: 28px;
  margin-bottom: 16px;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
  font-size: 18px;
  color: #939393;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    /* padding: 0 20px 20px 30px; */
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    /* width: 100px; */
    /* height: 100px; */
    /* margin-left: -50px; */
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    /* padding: 0 30px 20px 20px; */
    text-align: left;
  }
}
@media screen and (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    /* padding: 0 20px 20px; */
  }
  .timeline > li .timeline-image {
    /* width: 150px; */
    /* height: 150px; */
    /* margin-left: -75px; */
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    /* padding: 0 20px 20px; */
  }
}
@media screen and (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 30px;
  }
  .timeline > li .timeline-image {
    width: 50px;
    height: 50px;
    margin-left: -25px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 30px;
  }
}

.mySwiper-team {
  margin-top: 50px;
}
.art-team {
text-align: center;
}
.art-team .thumb {
width: 120px;
height: 120px;
display: inline-block;
}
.art-team .thumb img {
border-radius: 50%;
width: 100%;
height: 100%;
object-fit: cover;
}
.title-team {
font-size: 24px;
font-weight: 600; 
color: #000;
margin-top: 15px;
}
.art-team p {
color: #A1A1A1;
font-size: 18px;
}

.mySwiper-bacher {
margin-top: 50px;
margin-bottom: 20px;
}
.mySwiper-bacher a {
padding: 20px 0;
display: block;
}
.mySwiper-bacher img {
width: 100%;
}

.swiper-button-next {
right: 0
}
.swiper-button-prev {
left: 0
}
.swiper-button-next:after, .swiper-button-prev:after {
font-size: 24px;
color: #333;
}
.art-bacher {
padding-left: 50px;
padding-right: 50px;

}


@media screen and (max-width: 991px){
  .container {
      width: 100%;
      padding: 0 15px;
  }
  
}

@media screen and (min-width: 992px){
  .container {
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
  }
}
@media screen and (min-width: 1199px){
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
}
@media screen and (max-width: 1199px){
.section {
  padding: 50px 0;
}
.section0 {
  height: 100vh;
}
.title {
  font-size: 60px;
}
.logo-b {
  height: 90px;
}
.title1 {
  font-size: 36px;
}
.scrollable-element {
  height: auto;
  overflow: hidden;
  padding: 15px 0;
}
.block-benefit {
  flex-wrap: wrap;
}
.outer-benefit {
  width: 50%;
  margin-bottom: 20px;
}
.block-product .outer-product {
  width: 50%;
}
}
@media screen and (max-width: 540px){
  #header {
    background: #fff;
    padding: 10px 0;
    box-shadow: 0 1px 3px #ddd;
  }
  #header a {
    display: block;
    overflow: hidden;
  }
  #header a img {
    float: left;
  }
  .timeline > li {
    padding-left: 75px;
  }
  .section {
    padding: 35px 0;
  }
  .swiper-button-next, .swiper-button-prev {
    display: none;
  }
  .pt-4 {
    margin-top: 20px;
  }
  .block-benefit, .block-product {
    margin-left: 0;
    margin-right: 0;
  }
  .outer-benefit, .block-product .outer-product {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
  }
  .timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .timeline .timeline-body > ul, .timeline .timeline-body > p {
    font-size: 16px;
  }
  .timeline > li .timeline-image {
    margin-left: 0;
  }
  .timeline:before  {
    left: 26px;
  }
  .scrollable-element {
    padding-right: 10px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bbb; 
}